!  _____         _    _      _    
! |_   _| __ ___| | _(_)_ __| | __
!   | || '__/ _ \ |/ / | '__| |/ /
!   | || | |  __/   <| | |  |   < 
!   |_||_|  \___|_|\_\_|_|  |_|\_\

Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter

!  Set the dpi
!Xft.dpi: 127

! Font adjustments

URxvt*imLocale: es_ES.UTF-8
URxvt*termName: rxvt-unicode-256color
URxvt*buffered: false
!URxvt*transparent: true
!URxvt*shading: 40
URxvt.intensityStyles: false
URxvt.font: xft:CodeNewRoman Nerd Font Mono:size=12, \
            xft:JoyPixels:size=12, \
            xft:Monospace:style=Medium:size=12 
URxvt.saveLines: 2000
URxvt.scrollBar: false
URxvt.cursorColor: white
URxvt.letterSpace: 0 

!! Extensions
URxvt.perl-ext-common: default,matcher,resize-font,url-select,keyboard-select,clipboard
URxvt.colorUL: #4682B4
!! url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: urxvt -e lynx -cfg=~/.lynx.cfg -lss=~/.lynx.lss
URxvt.url-select.underline: true
!! keyboard-select:
URxvt.keysym.M-Escape: perl:keyboard-select:activate
!! resize-font
URxvt.keysym.C-k:   resize-font:bigger
URxvt.keysym.C-j:   resize-font:smaller
URxvt.keysym.C-h:   resize-font:reset
!! Matcher
URxvt.url-launcher:	urxvt -e lynx -cfg=~/.lynx.cfg -lss=~/.lynx.lss
URxvt.matcher.button: 1
!! clipboard
URxvt.copyCommand: xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt*depth: 32

! Dracula Xresources palette
!! COLORS

! special
URxvt*cursorColor:  #bbc5ff

*.foreground: #F8F8F2
*.background: #282A36

*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

! Distrotube color pallete

!URxvt*background:   [95]#282a36
!URxvt*foreground:   #bbc5ff

! black
!*.color0:       #101010  !! originally #292d3e
!*.color8:       #434758

! red
!*.color1:       #f07178
!*.color9:       #ff8b92

! green
!*.color2:       #c3e88d
!*.color10:      #ddffa7

! yellow
!*.color3:       #ffcb6b
!*.color11:      #ffe585

! blue
!*.color4:       #82aaff
!*.color12:      #9cc4ff

! magenta
!*.color5:       #c792ea
!*.color13:      #e1acff

! cyan
!*.color6:       #89ddff
!*.color14:      #a3f7ff

! white
!*.color7:       #d0d0d0
!*.color15:      #ffffff

